{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <main>

        <!-- Profile Details Section -->

        <section id="details">
            <div id="details-wrapper">
                <h2>Profile Details</h2>
                {% if user_profile.image %}
                <!-- if the user has a profile image -->
                <img id="details-img" src="{{ user_profile.image }}"
                     alt="profile img"/>
                {% else %}
                <!-- if the user has NO profile image -->
                <img id="details-img" src="{% static '/images/default.jpg' %}" alt="profile img"/>
                {% endif %}
                <!-- user's full name -->
                <p id="details-title">{{ user_profile.full_name }}</p>

                <div id="info-wrapper">
                    <div id="details-description">
                        <!-- email -->
                        <p>
                            {{ user_profile.email }}
                        </p>
                        <!-- age -->
                        <p>
                            Age: {{ user_profile.age }}
                        </p>
                        <!-- number of posts -->
                        <p id="nutrition">Posts: {{ amount_posts }}</p>

                    </div>

                    <!--Edit and Delete buttons -->
                    <div id="action-buttons">
                        <a href="{% url 'edit profile' %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete profile' %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}